## Por qu√© Pandas?

Pandas permite una mejor manipulaciones dunhashable type: 'Series'unhashable type: 'Series'unhashable type: 'Series'e datosy combinado con python hace que el tratamiento de datos sea muy flexible.

In [3]:
# Base se datos descargada de https://github.com/owid/covid-19-data/blob/master/public/data/README.md
# Importante pandas
import pandas as pd
df = pd.read_csv("owid-covid-data.csv")
# df_xlsx = pd.read_excel("")
print(df.head(10))

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-02-24          5.0        5.0
1      AFG      Asia  Afghanistan  2020-02-25          5.0        0.0
2      AFG      Asia  Afghanistan  2020-02-26          5.0        0.0
3      AFG      Asia  Afghanistan  2020-02-27          5.0        0.0
4      AFG      Asia  Afghanistan  2020-02-28          5.0        0.0
5      AFG      Asia  Afghanistan  2020-02-29          5.0        0.0
6      AFG      Asia  Afghanistan  2020-03-01          5.0        0.0
7      AFG      Asia  Afghanistan  2020-03-02          5.0        0.0
8      AFG      Asia  Afghanistan  2020-03-03          5.0        0.0
9      AFG      Asia  Afghanistan  2020-03-04          5.0        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         NaN                  NaN  ...
1                 NaN           NaN         NaN                  NaN  ...
2                 NaN           NaN         NaN                  NaN  ...
3                 NaN           NaN         NaN                  NaN  ...
4                 NaN           NaN         NaN                  NaN  ...
5               0.714           NaN         NaN                  NaN  ...
6               0.714           NaN         NaN                  NaN  ...
7               0.000           NaN         NaN                  NaN  ...
8               0.000           NaN         NaN                  NaN  ...
9               0.000           NaN         NaN                  NaN  ...

   female_smokers  male_smokers  handwashing_facilities  \
0             NaN           NaN                  37.746
1             NaN           NaN                  37.746
2             NaN           NaN                  37.746
3             NaN           NaN                  37.746
4             NaN           NaN                  37.746
5             NaN           NaN                  37.746
6             NaN           NaN                  37.746
7             NaN           NaN                  37.746
8             NaN           NaN                  37.746
9             NaN           NaN                  37.746

   hospital_beds_per_thousand  life_expectancy  human_development_index  \
0                         0.5            64.83                    0.511
1                         0.5            64.83                    0.511
2                         0.5            64.83                    0.511
3                         0.5            64.83                    0.511
4                         0.5            64.83                    0.511
5                         0.5            64.83                    0.511
6                         0.5            64.83                    0.511
7                         0.5            64.83                    0.511
8                         0.5            64.83                    0.511
9                         0.5            64.83                    0.511

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN
5                                   NaN                          NaN
6                                   NaN                          NaN
7                                   NaN                          NaN
8                                   NaN                          NaN
9                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
0               NaN                                      NaN
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN
4               NaN                                      NaN
5               NaN                                      NaN
6               NaN                                      NaN
7               NaN                                      NaN
8               NaN                                      NaN
9               NaN                                      NaN

[10 rows x 67 columns]

In [4]:
print(df.columns)

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [5]:
print(df["location"])

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
205916       Zimbabwe
205917       Zimbabwe
205918       Zimbabwe
205919       Zimbabwe
205920       Zimbabwe
Name: location, Length: 205921, dtype: object

In [8]:
print(df[["location", "total_deaths", "new_deaths"]])

           location  total_deaths  new_deaths
0       Afghanistan           NaN         NaN
1       Afghanistan           NaN         NaN
2       Afghanistan           NaN         NaN
3       Afghanistan           NaN         NaN
4       Afghanistan           NaN         NaN
...             ...           ...         ...
205916     Zimbabwe        5577.0         1.0
205917     Zimbabwe        5577.0         0.0
205918     Zimbabwe        5577.0         0.0
205919     Zimbabwe        5577.0         0.0
205920     Zimbabwe        5578.0         1.0

[205921 rows x 3 columns]

In [9]:
print(df.iloc[1:4])

  iso_code continent     location        date  total_cases  new_cases  \
1      AFG      Asia  Afghanistan  2020-02-25          5.0        0.0
2      AFG      Asia  Afghanistan  2020-02-26          5.0        0.0
3      AFG      Asia  Afghanistan  2020-02-27          5.0        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
1                 NaN           NaN         NaN                  NaN  ...
2                 NaN           NaN         NaN                  NaN  ...
3                 NaN           NaN         NaN                  NaN  ...

   female_smokers  male_smokers  handwashing_facilities  \
1             NaN           NaN                  37.746
2             NaN           NaN                  37.746
3             NaN           NaN                  37.746

   hospital_beds_per_thousand  life_expectancy  human_development_index  \
1                         0.5            64.83                    0.511
2                         0.5            64.83                    0.511
3                         0.5            64.83                    0.511

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN

[3 rows x 67 columns]

In [10]:
print(df.iloc[2,1])

Asia

In [11]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.975550e+05,1.973040e+05,1.961270e+05,1.787970e+05,178771.000000,177604.000000,196647.000000,196396.000000,195224.000000,177902.000000,...,128100.000000,126345.000000,83177.000000,150487.000000,192632.000000,164942.000000,7.021000e+03,7021.000000,7039.000000,7021.000000
mean,3.785280e+06,1.253950e+04,1.254970e+04,6.879966e+04,148.655073,149.437136,49544.108349,188.676561,188.611809,634.979082,...,10.660109,32.800414,50.879110,3.085057,73.645467,0.725013,4.443878e+04,9.622816,14.726295,1219.057534
std,2.376460e+07,8.716845e+04,8.517905e+04,3.566209e+05,762.698476,746.318219,90527.530977,918.311271,599.920919,923.088196,...,10.605155,13.532336,31.847751,2.551124,7.449097,0.149709,1.238340e+05,13.771885,27.081946,1628.300494
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.772610e+04,-28.450000,-95.920000,-1694.146120
25%,3.341500e+03,0.000000e+00,6.714000e+00,1.030000e+02,0.000000,0.143000,904.250000,0.000000,1.486000,26.045500,...,1.900000,21.600000,20.859000,1.300000,69.500000,0.602000,1.210000e+01,0.180000,-0.295000,7.007893
50%,4.101900e+04,6.500000e+01,1.004290e+02,1.022000e+03,1.000000,1.857000,8021.135000,9.292000,19.867500,183.531500,...,6.300000,31.400000,49.839000,2.500000,75.050000,0.743000,5.114900e+03,7.070000,7.250000,679.856555
75%,4.403765e+05,1.013000e+03,1.147000e+03,9.060000e+03,16.000000,17.429000,60976.251000,102.462000,135.007000,942.380000,...,19.300000,41.300000,82.502000,4.000000,79.070000,0.845000,3.146100e+04,15.100000,20.640000,1915.226561
max,5.794457e+08,4.079561e+06,3.438024e+06,6.405438e+06,18191.000000,14817.143000,655309.333000,195005.313000,35258.843000,6359.306000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.219078e+06,76.550000,375.980000,9726.079559

In [14]:
df.sort_values("total_cases", ascending = False)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
203341,OWID_WRL,NaN,World,2022-08-02,579445702.0,1194807.0,1006600.000,6405438.0,2737.0,2411.000,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
203340,OWID_WRL,NaN,World,2022-08-01,578250895.0,880083.0,1003905.429,6402707.0,2382.0,2413.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
203339,OWID_WRL,NaN,World,2022-07-31,577370812.0,541407.0,1024720.857,6400325.0,814.0,2344.857,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
203338,OWID_WRL,NaN,World,2022-07-30,576829405.0,571877.0,1024270.714,6399511.0,988.0,2353.286,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
203337,OWID_WRL,NaN,World,2022-07-29,576257528.0,1401026.0,1033256.000,6398523.0,2956.0,2371.143,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195786,VIR,North America,United States Virgin Islands,2022-06-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,80.58,NaN,NaN,NaN,NaN,NaN
195787,VIR,North America,United States Virgin Islands,2022-06-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,80.58,NaN,NaN,NaN,NaN,NaN
195788,VIR,North America,United States Virgin Islands,2022-06-18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,80.58,NaN,NaN,NaN,NaN,NaN
195789,VIR,North America,United States Virgin Islands,2022-06-19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,80.58,NaN,NaN,NaN,NaN,NaN
202417,ESH,Africa,Western Sahara,2022-04-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.26,NaN,NaN,NaN,NaN,NaN

In [17]:
df_SA = df.loc[df["continent"] == "South America"]
df_SA

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
7054,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.0,76.67,0.845,NaN,NaN,NaN,NaN
7055,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.0,76.67,0.845,NaN,NaN,NaN,NaN
7056,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.0,76.67,0.845,NaN,NaN,NaN,NaN
7057,ARG,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.0,76.67,0.845,NaN,NaN,NaN,NaN
7058,ARG,South America,Argentina,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,27.7,NaN,5.0,76.67,0.845,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200836,VEN,South America,Venezuela,2022-07-29,534906.0,455.0,420.429,5761.0,2.0,0.857,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN
200837,VEN,South America,Venezuela,2022-07-30,535277.0,371.0,473.429,5762.0,1.0,1.000,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN
200838,VEN,South America,Venezuela,2022-07-31,535836.0,559.0,419.143,5763.0,1.0,0.857,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN
200839,VEN,South America,Venezuela,2022-08-01,536086.0,250.0,413.000,5763.0,0.0,0.857,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN
200840,VEN,South America,Venezuela,2022-08-02,536086.0,NaN,NaN,5763.0,0.0,0.857,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN

In [ ]:
df["new_var"] = sf["var1"] + df["var2"]
df.drop(columns = ["var1"]) # To Eliminate columns
df = df[cols[:4] + [cols[-1]]] # Modificando la tabla
df.to_csv("name.csv", index=False) # Para grabar datos en un nuevo archivo
df.to_excel("name.xlsx", index = False)

In [24]:
# Filtering data
new_df = df.loc[(df["location"]== "Bolivia") | (df["location"] == "Peru")] # & for and and | for or

In [25]:
new_df.reset_index()

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,22189,BOL,South America,Bolivia,2020-03-11,2.0,2.0,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
1,22190,BOL,South America,Bolivia,2020-03-12,2.0,0.0,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
2,22191,BOL,South America,Bolivia,2020-03-13,3.0,1.0,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
3,22192,BOL,South America,Bolivia,2020-03-14,10.0,7.0,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
4,22193,BOL,South America,Bolivia,2020-03-15,10.0,0.0,NaN,NaN,NaN,...,NaN,NaN,25.383,1.1,71.51,0.718,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,147519,PER,South America,Peru,2022-07-29,3889029.0,0.0,10317.857,214154.0,0.0,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
1751,147520,PER,South America,Peru,2022-07-30,3895496.0,6467.0,9388.714,214195.0,41.0,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
1752,147521,PER,South America,Peru,2022-07-31,3909870.0,14374.0,10110.143,214303.0,108.0,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
1753,147522,PER,South America,Peru,2022-08-01,3914506.0,4636.0,9916.143,214364.0,61.0,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
1754,147523,PER,South America,Peru,2022-08-02,3923744.0,9238.0,9209.286,214407.0,43.0,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN

In [52]:
new_america = df[(df["continent"]=="North America") | (df["continent"] == "South America")]
new_america

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
5323,AIA,North America,Anguilla,2020-03-28,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.88,NaN,NaN,NaN,NaN,NaN
5324,AIA,North America,Anguilla,2020-03-29,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.88,NaN,NaN,NaN,NaN,NaN
5325,AIA,North America,Anguilla,2020-03-30,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.88,NaN,NaN,NaN,NaN,NaN
5326,AIA,North America,Anguilla,2020-03-31,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.88,NaN,NaN,NaN,NaN,NaN
5327,AIA,North America,Anguilla,2020-04-01,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.88,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200836,VEN,South America,Venezuela,2022-07-29,534906.0,455.0,420.429,5761.0,2.0,0.857,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN
200837,VEN,South America,Venezuela,2022-07-30,535277.0,371.0,473.429,5762.0,1.0,1.000,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN
200838,VEN,South America,Venezuela,2022-07-31,535836.0,559.0,419.143,5763.0,1.0,0.857,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN
200839,VEN,South America,Venezuela,2022-08-01,536086.0,250.0,413.000,5763.0,0.0,0.857,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN
200840,VEN,South America,Venezuela,2022-08-02,536086.0,NaN,NaN,5763.0,0.0,0.857,...,NaN,NaN,NaN,0.8,72.06,0.711,NaN,NaN,NaN,NaN

In [54]:
new_data = df[["location", "new_cases", "date"]]
new_data

           location  new_cases        date
0       Afghanistan        5.0  2020-02-24
1       Afghanistan        0.0  2020-02-25
2       Afghanistan        0.0  2020-02-26
3       Afghanistan        0.0  2020-02-27
4       Afghanistan        0.0  2020-02-28
...             ...        ...         ...
205916     Zimbabwe       40.0  2022-07-29
205917     Zimbabwe        0.0  2022-07-30
205918     Zimbabwe        2.0  2022-07-31
205919     Zimbabwe        4.0  2022-08-01
205920     Zimbabwe       21.0  2022-08-02

[205921 rows x 3 columns]

In [ ]:
df.loc[df["location"] == "Bolivia","location"] = "BOLIVIA" # para hacer cambios condicionales

In [ ]:
df.groupby(["new_deaths"]).mean().srt_values("ewn_cases" , ascending =False) # sum() count()